<a href="https://colab.research.google.com/github/Saumyaraj1925/raj/blob/master/EDA_Assg_BankingTransaction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment Submission Guidelines**

**1. Submission Platform:**

- Submit your completed assignment through Google Classroom.

**2. Submission Format:**

- Submit the Google Colab Notebook (.ipynb file) provided as the assignment template.
- Do not create a new notebook. Fill in the provided template.

**3. Template Completion:**

The template notebook contains:
- The code to generate the Banking Transaction csv datasets.
- Placeholders for your code and explanations for each question.

Follow the instructions within the template.
- Code Cells:
  - Place your code solutions directly in the designated code cells below each question.
- Markdown Cells:
  - Provide your explanations and justifications in the designated Markdown cells.
- Report section:
  - Complete the markdown section at the bottom of the notebook titled "Report".
  - In this section, compile the explanation of each of the questions.
  - Answer the following data analysis questions:
    1.   What are the key characteristics of the customer and transaction data?
    2. What are the main trends in customer spending?
    3. How does customer age relate to transaction amounts
    4. Identify and discuss any potential data quality issues
    5. Provide 2-3 actionable business insights based on your analysis.

- Do not modify the structure of the template notebook.

**4. File Naming:**

Ensure the file name remains as provided in the template. Do not rename the file.

**5. Timely Submission:**

- Submit your completed template notebook by the deadline: **24th of March, 2025**.
- Late submissions will be penalized as follows:
- Submissions within **5:00pm 26th of March, 2025**  will receive a maximum of 5 marks for timely submission.
Submissions after  will receive 0 marks for timely submission.

**6. Report:**

- Complete the "Report" section at the end of your notebook.
- Ensure your report is:
  - Well-organized and easy to read.
  - Clear and concise.
  - Free of grammatical errors.

**7. Code Execution:**

Ensure your completed notebook runs without errors from top to bottom.
Before submitting, restart the kernel and run all cells to confirm reproducibility.



**8. Academic Integrity:**

All work must be your own.
Plagiarism will result in a failing grade.
Cite any external resources you use.



**Tips for Success:**

- Start the assignment early.
- Read the instructions within the template carefully.
- Plan your approach before coding.
- Test your code thoroughly.
- Document your work clearly.
- Review the rubrics to understand the grading criteria.

**Grading Rubrics:**

Total 50 Marks

- Timely Submission: 10 Marks
- Report : 10 Marks
- Level 1 (Basic Questions): 5 Marks (1 x 5 = 5)
- Level 2 (Intermediate Questions): 10 Marks (2 x 5 = 10)
- Level 3 (Advanced Questions): 15 Marks (3 x 5 = 15)

##**Assignment**

**Background**

You are a data analyst working for "FinTech Insights," a consultancy specializing in data-driven financial analysis. FinTech Insights partners with banks, credit unions, and financial technology companies to optimize their operations and enhance customer experiences through in-depth data analysis. Your team has been assigned the task of analyzing a comprehensive dataset of banking transactions and customer details. This dataset, compiled from raw sources, contains information on a diverse group of bank customers, including their demographics, transaction histories, and account balances. Your goal is to leverage this data to uncover key patterns in customer behavior and identify opportunities for improved financial services. By identifying these trends, you can provide actionable recommendations to financial institutions for better customer engagement, risk management, and service optimization.

In [ ]:
!pip install faker

In [ ]:
import pandas as pd
import numpy as np
from faker import Faker
import random

# Initialize Faker
fake = Faker()

# Generate Customer Data
df_customers = pd.DataFrame({
    'customer_id': range(1, 101),
    'name': [fake.name() for _ in range(100)],
    'age': np.random.randint(18, 80, 100),
    'gender': np.random.choice(['Male', 'Female', 'Other'], 100),
    'email': [fake.email() for _ in range(100)],
    'city': [fake.city() for _ in range(100)]
})

df_customers.to_csv('customers_raw.csv', index=False)

# Generate Transaction Data
df_transactions = pd.DataFrame({
    'transaction_id': range(1, 501),
    'customer_id': np.random.choice(df_customers['customer_id'], 500),
    'transaction_date': [fake.date_this_decade() for _ in range(500)],
    'transaction_type': np.random.choice(['Deposit', 'Withdrawal', 'Payment', 'Transfer'], 500),
    'amount': np.round(np.random.uniform(100, 5000, 500), 2),
    'balance_after_transaction': np.round(np.random.uniform(1000, 20000, 500), 2)
})

df_transactions.to_csv('bank_transactions.csv', index=False)

print("Synthetic datasets generated: 'customers_raw.csv' and 'bank_transactions.csv'")

Synthetic datasets generated: 'customers_raw.csv' and 'bank_transactions.csv'

**The Data**

customers_raw.csv:
  - customer_id: Unique identifier for each customer (integer).
  - name: Full name of the customer (string).
  - age: Age of the customer (integer).
  - gender: Gender of the customer (string: Male, Female, Other).
  - email: Email address of the customer (string).
  - city: City where the customer resides (string).

bank_transactions.csv:
  - transaction_id: Unique identifier for each transaction (integer).
  - customer_id: Identifier linking transactions to customers (integer).
  - transaction_date: Date of the transaction (date/string).
  - transaction_type: Type of transaction (string: Deposit, Withdrawal, Payment, Transfer).
  - amount: Transaction amount (float).
  - balance_after_transaction: Account balance after the transaction (float).

## **Basic (RBT Levels: 2, 3):**

Total: 5 Marks

Each Question Carry 1 Mark

**Question 1. Data Loading and Initial Exploration:**

- Load customers_raw.csv and bank_transactions.csv into Pandas DataFrames.
- Display the first 5 rows and use .info() to display data types.

In [ ]:
# Question 1: Data Loading and Initial Exploration
# Load customers_raw.csv and bank_transactions.csv into Pandas DataFrames.
#Display the first 5 rows and use .info() to display data types.
# Your Code Here:
customer_df=pd.read_csv('customers_raw.csv')
bank_df=pd.read_csv('bank_transactions.csv')
customer_df.head()
customer_df.info()
bank_df.head()
bank_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  100 non-null    int64
 1   name         100 non-null    object
 2   age          100 non-null    int64
 3   gender       100 non-null    object
 4   email        100 non-null    object
 5   city         100 non-null    object
dtypes: int64(2), object(4)
memory usage: 4.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   transaction_id             500 non-null    int64
 1   customer_id                500 non-null    int64
 2   transaction_date           500 non-null    object
 3   transaction_type           500 non-null    object
 4   amount                     500 non-null    float64
 5   balance_after_transaction  500 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 23.6+ KB

The code loads two datasets (customers_raw.csv and bank_transactions.csv) into Pandas DataFrames and performs an initial exploration. It displays the first five rows of each dataset to get a quick look at the data and uses .info() to check data types and missing values.

**Question 2: Data Merging:**

- Merge the two datasets using an inner join on customer_id.
- Display the first 5 rows of the merged DataFrame.

In [ ]:
# Question 2: Data Merging
# Merge the two datasets using an inner join on customer_id.
# Display the first 5 rows of the merged DataFrame.
# Your Code Here:
merged_df=pd.merge(customer_df,bank_df,on='customer_id',how='inner')
merged_df.head()

,customer_id,name,age,gender,email,city,transaction_id,transaction_date,transaction_type,amount,balance_after_transaction
0,1,Terry Franco,44,Female,wperry@example.net,Adamsside,80,2021-05-14,Withdrawal,749.35,10050.00
1,1,Terry Franco,44,Female,wperry@example.net,Adamsside,113,2021-07-24,Deposit,1913.17,7578.37
2,1,Terry Franco,44,Female,wperry@example.net,Adamsside,222,2023-12-22,Payment,251.77,19396.76
3,1,Terry Franco,44,Female,wperry@example.net,Adamsside,224,2021-09-27,Deposit,2473.00,4338.63
4,1,Terry Franco,44,Female,wperry@example.net,Adamsside,325,2021-12-18,Withdrawal,2720.71,19839.13

This code merges the customer_df and bank_df datasets using an inner join on the customer_id column. An inner join ensures that only customers present in both datasets are included in the merged DataFrame. After merging, the first five rows of the combined dataset are displayed to verify the results.

**Question 3: Missing Value Identification:**

Identify columns with missing values and report the count of missing values in each.

In [ ]:
# Question 3: Missing Value Identification
# Identify columns with missing values and report the count of missing values in each.
# Your Code Here:
print(merged_df.isnull().sum())

customer_id                  0
name                         0
age                          0
gender                       0
email                        0
city                         0
transaction_id               0
transaction_date             0
transaction_type             0
amount                       0
balance_after_transaction    0
dtype: int64

This code checks for missing values in the merged dataset.

merged_df.isnull() creates a DataFrame with True for missing values and False for non-missing values.

.sum() counts the number of missing values in each column.

print() displays the result, showing the count of missing values per column.

**Question 4: Duplicate Row Removal:**

Check for and remove any duplicate rows in the bank_transactions.csv DataFrame.

In [ ]:
# Question 4: Duplicate Row Removal
# Check for and remove any duplicate rows in the bank_transactions.csv DataFrame.
#Your Code Here:
print(bank_df.duplicated().sum())
bank_df.drop_duplicates(inplace=True)
print(bank_df.duplicated().sum())

0
0

The code identifies and removes duplicate rows from the bank_df DataFrame. First, it checks and prints the number of duplicate rows. Then, it removes them using drop_duplicates(), and finally, it verifies that no duplicates remain.

**Question 5: Column Renaming:**

Rename the amount column in bank_transactions.csv to transaction_amount.

In [ ]:
# Question 5: Column Renaming
# Rename the amount column in bank_transactions.csv to transaction_amount.
# Your Code Here:
bank_df.rename(columns={'amount':'transaction_amount'},inplace=True)
bank_df.head()

,transaction_id,customer_id,transaction_date,transaction_type,transaction_amount,balance_after_transaction
0,1,76,2020-11-30,Withdrawal,2632.66,10298.51
1,2,8,2024-06-08,Withdrawal,3141.45,19834.02
2,3,68,2024-05-17,Transfer,472.35,14945.38
3,4,69,2023-08-11,Withdrawal,3659.81,4961.45
4,5,26,2020-08-18,Transfer,556.84,19915.75

This code renames the amount column in the bank_df DataFrame to transaction_amount. The rename() function is used with inplace=True to apply the change directly. Finally, head() displays the first five rows to verify the update.

##**Intermediate (RBT Levels: 3, 4):**

Total: 10 Marks

Each Question Carry 2 Marks

**Question 6: Missing Value Imputation:**

Impute missing values in the age column with the median age.

In [ ]:
# Question 6: Missing Value Imputation
# Impute missing values in the age column with the median age.
# Your Code Here:
merged_df['age'].fillna(merged_df['age'].median(),inplace=True)

<ipython-input-9-cb6411ea3509>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['age'].fillna(merged_df['age'].median(),inplace=True)

This code fills missing values in the age column of merged_df with the median age. The .fillna() function replaces NaN values with the median, ensuring data completeness while minimizing the impact of extreme values. The inplace=True parameter applies the changes directly to the DataFrame.

Impute missing values in the email column with a placeholder string "[email address removed]".

In [ ]:
# Impute missing values in the email column with a placeholder string "[email address removed]".
# Your Code Here:
merged_df['email'].fillna('[email address removed]',inplace=True)

<ipython-input-10-d37323e8d259>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['email'].fillna('[email address removed]',inplace=True)

This code replaces missing values in the email column of merged_df with the placeholder string "[email address removed]". Using .fillna() ensures that all NaN values are replaced, preventing issues in data processing where email information is required. The inplace=True parameter updates the DataFrame directly.

**Question 7: Categorical Data Conversion:**

Convert the gender column to numerical values (e.g., Male=0, Female=1, Other=2).

In [ ]:
# Categorical Data Conversion

# Convert the gender column to numerical values (e.g., Male=0, Female=1, Other=2).
# Your Code Here:
merged_df['gender']=merged_df['gender'].map({'Male':0,'Female':1,'Other':2})
merged_df.head()

,customer_id,name,age,gender,email,city,transaction_id,transaction_date,transaction_type,amount,balance_after_transaction
0,1,Terry Franco,44,NaN,wperry@example.net,Adamsside,80,2021-05-14,Withdrawal,749.35,10050.00
1,1,Terry Franco,44,NaN,wperry@example.net,Adamsside,113,2021-07-24,Deposit,1913.17,7578.37
2,1,Terry Franco,44,NaN,wperry@example.net,Adamsside,222,2023-12-22,Payment,251.77,19396.76
3,1,Terry Franco,44,NaN,wperry@example.net,Adamsside,224,2021-09-27,Deposit,2473.00,4338.63
4,1,Terry Franco,44,NaN,wperry@example.net,Adamsside,325,2021-12-18,Withdrawal,2720.71,19839.13

This code converts the categorical gender column into numerical values using the .map() function:

Male → 0

Female → 1

Other → 2

This transformation is useful for machine learning models and statistical analysis that require numerical data. Finally, head() displays the first five rows to verify the changes.

**Question 8: String Manipulation:**

Extract the domain name from the email column and create a new column called email_domain.

In [ ]:
# Question 8: String Manipulation:
# Extract the domain name from the email column and create a new column called email_domain.
# Your Code Here:
merged_df['email_domain']=merged_df['email'].str.split('@').str[1]
merged_df.head()

,customer_id,name,age,gender,email,city,transaction_id,transaction_date,transaction_type,amount,balance_after_transaction,email_domain
0,1,Terry Franco,44,NaN,wperry@example.net,Adamsside,80,2021-05-14,Withdrawal,749.35,10050.00,example.net
1,1,Terry Franco,44,NaN,wperry@example.net,Adamsside,113,2021-07-24,Deposit,1913.17,7578.37,example.net
2,1,Terry Franco,44,NaN,wperry@example.net,Adamsside,222,2023-12-22,Payment,251.77,19396.76,example.net
3,1,Terry Franco,44,NaN,wperry@example.net,Adamsside,224,2021-09-27,Deposit,2473.00,4338.63,example.net
4,1,Terry Franco,44,NaN,wperry@example.net,Adamsside,325,2021-12-18,Withdrawal,2720.71,19839.13,example.net

This code extracts the domain name from the email column and creates a new column called email_domain.

.str.split('@') splits the email string into two parts: before and after @.

.str[1] selects the second part (the domain name).

**Question 9: Discretization and Binning:**

Create a new categorical column called amount_category by binning the transaction_amount into "Low", "Medium", and "High" categories.

In [ ]:
# Discretization and Binning
# Create a new categorical column called amount_category by binning the transaction_amount into "Low", "Medium", and "High" categories.
# Your Code Here:
merged_df['amount_category']=pd.cut(merged_df['amount'],bins=[0,1000,5000,np.inf],labels=['Low','Medium','High'])
merged_df.head()

,customer_id,name,age,gender,email,city,transaction_id,transaction_date,transaction_type,amount,balance_after_transaction,email_domain,amount_category
0,1,Terry Franco,44,NaN,wperry@example.net,Adamsside,80,2021-05-14,Withdrawal,749.35,10050.00,example.net,Low
1,1,Terry Franco,44,NaN,wperry@example.net,Adamsside,113,2021-07-24,Deposit,1913.17,7578.37,example.net,Medium
2,1,Terry Franco,44,NaN,wperry@example.net,Adamsside,222,2023-12-22,Payment,251.77,19396.76,example.net,Low
3,1,Terry Franco,44,NaN,wperry@example.net,Adamsside,224,2021-09-27,Deposit,2473.00,4338.63,example.net,Medium
4,1,Terry Franco,44,NaN,wperry@example.net,Adamsside,325,2021-12-18,Withdrawal,2720.71,19839.13,example.net,Medium

This code categorizes the transaction_amount into three bins:

Low (0 - 1000)

Medium (1000 - 5000)

High (5000 and above)

Using pd.cut(), the transaction_amount values are grouped into these categories. The labels parameter assigns meaningful names to each bin. Finally, head() displays the first five rows to verify the new amount_category column.

**Question 10: Outlier Detection:**

Use the IQR method to identify outliers in the transaction_amount column.

In [ ]:
# Question 10: Dummy Variable Creation and Stacked Bar Plot
# Create dummy variables for the 'Gender' and 'SchoolType' columns. Explain how dummy variables are used in data analysis. Create a stacked bar plot to visualize the distribution of 'Gender' within each 'SchoolType'.
# Your Code Here:
Q1=merged_df['amount'].quantile(0.25)
Q3=merged_df['amount'].quantile(0.75)
IQR=Q3-Q1

The code calculates the Interquartile Range (IQR) for the amount column, which helps in detecting outliers. However, it does not create dummy variables for Gender and SchoolType or generate a stacked bar plot.

##**Advanced (RBT Levels: 4, 5):**

Total: 15 Marks

Each Question Carry 3 Marks

**Question 11: Grouped Aggregation:**

Group transactions by customer_id and calculate the total spending for each customer.

In [ ]:
# Question 11: Grouped Aggregation
# Group transactions by customer_id and calculate the total spending for each customer.
# Your Code Here:
grouped_df=merged_df.groupby('customer_id')['amount'].sum()
grouped_df.head()

customer_id
1    10758.28
2    19900.17
3    21183.34
4    21587.17
5    14567.23
Name: amount, dtype: float64

This code groups transactions by customer_id and calculates the total spending for each customer. The .groupby('customer_id') function groups the data by customer, and ['amount'].sum() computes the total transaction amount per customer. Finally, head() displays the first five results. This helps in analyzing customer spending behavior.

**Question 12: Grouped Transformation**

Normalize the transaction_amount within each transaction_type category using z-scores.

In [ ]:
# Question 12: Grouped Transformation
# Normalize the transaction_amount within each transaction_type category using z-scores.
# Your Code Here:
merged_df['z_score'] = merged_df.groupby('transaction_type')['amount'].transform(lambda x: (x - x.mean()) / x.std())

This code normalizes the transaction_amount within each transaction_type category using z-scores.

.groupby('transaction_type') ensures that normalization is done separately for each type of transaction.

.transform(lambda x: (x - x.mean()) / x.std()) applies the z-score formula:

𝑍
=
𝑋
−
mean
standard deviation
Z=
standard deviation
X−mean
​

where
𝑋
X is each transaction amount, and the mean and standard deviation are calculated within each transaction_type.

The new column z_score stores the normalized values, making the data comparable across different transaction types.

**Question 13: Time Series Analysis**

- Convert transaction_date to datetime objects.
- Group transactions by month and calculate the average transaction_amount for each month.

In [ ]:
# Question 13: Time Series Analysis
# Convert transaction_date to datetime objects.
# Group transactions by month and calculate the average transaction_amount for each month.
# Your Code Here:
merged_df['transaction_date']=pd.to_datetime(merged_df['transaction_date'])
monthly_avg_transaction=merged_df.groupby(merged_df['transaction_date'].dt.month)['amount'].mean()

The code converts the transaction_date column into a datetime format to enable time-based analysis. It then groups transactions by month and calculates the average transaction amount for each month. This helps in understanding monthly spending trends and identifying seasonal patterns in transaction behavior.

**Question 14: Correlation Analysis**

- Calculate the correlation between age and transaction_amount.
- Calculate the correlation between transaction amount and numerical gender.

In [ ]:
# Question 14: Correlation Analysis
# Calculate the correlation between age and transaction_amount.
# Calculate the correlation between transaction amount and numerical gender.
# Your Code Here:
age_transaction_corr=merged_df['age'].corr(merged_df['amount'])
amount_gender_corr=merged_df['amount'].corr(merged_df['gender'])

This code calculates the correlation between:

Age and transaction amount (age_transaction_corr)

Transaction amount and numerical gender (amount_gender_corr)

The .corr() function computes the Pearson correlation coefficient, which measures the strength and direction of the relationship between two numerical variables. The results help in understanding if age or gender influences transaction behavior.

**Question 15: Conditional Logic and Feature Engineering:**

Create a new column called high_spending_customer that indicates whether a customer's total spending is above a certain threshold.

In [ ]:
# Question 15: Conditional Logic and Feature Engineering
# Create a new column called high_spending_customer that indicates whether a customer's total spending is above a certain threshold.
# Your Code Here:
threshold=10000
merged_df['high_spending_customer']=(merged_df.groupby('customer_id')['amount'].transform('sum')>threshold).astype(int)

This code creates a new column, high_spending_customer, to identify high-spending customers:

It groups transactions by customer_id and calculates each customer's total spending.

It compares total spending to a threshold (₹10,000 in this case).

If the spending exceeds ₹10,000, it assigns 1 (high spender); otherwise, it assigns 0 (not a high spender).

**Report**

**Part 1**

- In this section, compile the explanation of each of the questions.

**Part 2**

- Answer the following data analysis questions:
  1. What are the key characteristics of the customer and transaction data?
  2. What are the main trends in customer spending?
  3. How does customer age relate to transaction amounts
  4. Identify and discuss any potential data quality issues
  5. Provide 2-3 actionable business insights based on your analysis.